/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.slider-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slider-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #fff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px;
  top: 0;
  left: 0;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
}

.card-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4070f4;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  cursor: pointer;
  margin: 14px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: all 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media (max-width: 768px) {
  .slider-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}
